.content-wrap main form{
	padding: 45px 15px 15px;
    margin: 15px;
    width: 31vw;
    position: relative;
}
.content-wrap main form label{
	font-size: 0.83vw;
	color: #C30D23;
	width: 10vw;
	display: inline-block;
}
.content-wrap main form input[type='text']{
	font-size: 0.72vw;
    padding: 0.4vw 0;
    padding-left: 0.4vw;
    border-color: #efefef;
    border-radius: 4px;
    width: 20vw;
}
.content-wrap main form .file-span{
	display: inline-block;
    width: 15vw;
    height: 17vw;
    position: relative;
    vertical-align: middle;
}
.content-wrap main form .file-span input{
	opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 10;
}
.content-wrap main form .file-span .img1{
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9;
}
.content-wrap main form .button input{
	padding: 0.4vw 0.7vw;
    border: none;
    color: #fff;
    border-radius: 4px;
    font-size: 0.82vw;
    padding: 0.7vw 1.5vw;
}
.content-wrap main form .button input[type='submit']{
	background-color: #C30D23;
	margin-right: 1.6vw;
	margin-left: 10vw;
}
.content-wrap main form div{
	margin-bottom: 3vw;
}
