/*提醒框*/
.warner-box{
	position: fixed;
    top: 50%;
    margin-top: -24px;
    right: 20px;
    width: 120px;
    z-index: 99;
}
.warner-box a{
	display: block;
	width: 120px;
	height: 120px;
	position: relative;
}
.warner-box a img{
	display: block;
	width: 100%;
	height: 100%;
	border-radius: 50%;
}
.warner-box a span{
	position: absolute;
    right: 6px;
    top: 6px;
    z-index: 100;
    color: #fff;
    background-color: #C30D23;
    display: inline-block;
    min-width: 15px;
    padding: 6px 8px;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    border-radius: 50%;
    z-index: 100;
}
body{
	min-width: 1200px;
}
/*导航栏*/
header{
	border-bottom: 0.4vw solid #f3f4f7;
}
.header-con{
	margin: 0 1.3vw;
}
.header-logo{
	width: 9.8vw;
	float: left;
	border-right: 0.4vw solid #f3f4f7;
	padding-right: 1.3vw;
	height: 5vw;
}
.header-logo a{
	display: block;
	width: 100%;
	margin-top: 1.1vw;
}
.header-logo a img{
	display: block;
	width: 100%;
}
.header-nav{
	float: left;
}
.header-nav li{
	float: left;
	height: 5vw;
}
.header-nav .show{
	background-color: #C30D23;
}
.header-nav .show a{
	color: #fff;
}
.header-personal{
	float: right;
	margin-top: 1.2vw;
	cursor: pointer;
	height: 3.8vw;
}
.search{
	float: left;
	border-right: 0.4vw solid #f3f4f7;
	height: 5vw;
}
.search img{
	width: 1.6vw;
	padding: 0 1.6vw;
	padding-top: 0.4vw;
	margin-top: 1.2vw;
	cursor: pointer;
}
.header-nav  li a{
	font-size: 1.25vw;
	color: #333;
	display: block;
	width: 8.3vw;
	text-align: center;
	padding-top: 0.5vw;
	margin-top: 1.2vw;
}
.header-nav  li a:hover{
	color: #C30D23;
	font-weight: bold;
}
.header-nav  li .active{
	color: #C30D23;
	font-weight: bold;
}
.upload{
	position: relative;
	width: 2.8vw;
	height: 2.8vw;
	float: left;
	margin-right: 0.52vw;
}
.upload input{
	opacity: 0;
	position: absolute;
	width: 100%;
	height: 100%;
	cursor: pointer;
	z-index: 10;
}
.upload img{
	width: 100%;
	height: 100%;
	border-radius: 50%;
}
.personal{
	float: left;
}
.personal .name{
	font-size: 0.83vw;
	color: #333333;
}
.personal-xiala{
	position: absolute;
	top: 5vw;
	right: 0;
	z-index: 10;
	width: 9vw;
	background-color: #C30D23;
	display: none;
}
.personal-xiala li{
	padding: 0.3vw 0;
	
}
.personal-xiala li:last-child{
	border-top: 1px solid #F3F4F7;
}
.personal-xiala li a{
	color: #fff;
	font-size: 0.5vw;
	padding-left: 0.3vw;
}
.personal .role{
	font-size: 0.72vw;
	color: #666;
	padding-top: 0.2vw;
}
.sb-search{
	display: none;
	float: left;
	height: 5vw;
	border-right: 0.4vw solid #F3F4F7;
	width: 16vw;
}
.sb-search form{
	position: relative;
	width: 14.6vw;
	margin: 0 auto;
	margin-top: 1.5vw;
}
.sb-search #search{
	width: 11.7vw;
    border-color: #000;
    border-top-left-radius: 2vw;
    border-bottom-left-radius: 2vw;
    height: calc(2vw - 2px);
    padding-left: 0.5vw;
    font-size: 0.83vw;
}
.sb-search .sb-search-submit{
	width: 2.4vw;
	border-color: #C30D23;
	background-color: #C30D23;
	height: 2vw;
	position: absolute;
	right: 0;
	border-top-right-radius: 2vw;
	border-bottom-right-radius: 2vw;
}
.sb-search span{
	position: absolute;
	right: 0.83vw;
	top: 0.5vw;
	cursor: pointer;
}
.sb-search span img{
	width: 0.72vw;
	display: block;
}
/*修改密码弹窗*/
.revise-overlay{
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.3);
	position: fixed;
	top: 0;
	left: 0;
	display: none;
	z-index: 100;
}
.revise-content{
	width: 28vw;
	margin: 0 auto;
	background-color: #fff;
	margin-top: 13%;
}
.revise-content .con-title{
	width: 100%;
	background-color: #C30D23;
	position: relative;
	padding: 0.5vw 0;
}
.revise-content .con-title span{
	color: #fff;
	font-size: 0.83vw;
	padding-left: 0.4vw;
}
.revise-content .con-title img{
	position: absolute;
	right: 0.4vw;
	width: 0.83vw;
	top: 50%;
	margin-top: -0.4vw;
}
.form-text{
	width: 22vw;
    border: 1px solid #e0e0e0;
    margin: 0 auto;
    display: block;
    padding: 0.8vw 0;
    font-size: 0.72vw;
    padding-left: 0.8vw;
    margin-bottom: 1.6vw;
}
.login-else{
	position: relative;
}
.login-else .getcode{
	position: absolute;
    bottom: 0.9vw;
    right: 2.8vw;
    font-size: 0.9vw;
    color: #c30d23;
    padding-left: 1vw;
    border: none;
    border-left: 1px solid #e0e0e0;
    background-color: transparent;
}
.login-pwd button{
	background: url(../img/biyan.png) no-repeat center center;
    width: 1.1vw;
    height: 0.5vw;
    background-size: 100% 100%;
    bottom: 1.1vw !important;
    border-left: none !important;
}
.login-text{
	display: none;
}
.login-text button{
	background: url(../img/zhengyan.png) no-repeat center center;
    width: 1.1vw;
    height: 0.5vw;
    background-size: 100% 100%;
    bottom: 1.1vw !important;
    border-left: none !important;
}
.login{
	width: 22vw;
    margin: 0 auto;
    border: none;
    background-color: #c30c23;
    color: #fff;
    border-radius: 20px;
    display: block;
    padding: 0.5vw 0;
}
.code-alert{
	font-size: 0.9vw;
    text-align: center;
    background-color: rgba(0,0,0,0.3);
    color: #fff;
    width: 10%;
    padding: 0.2vw 0;
    border-radius: 27px;
    position: fixed;
    top: 50%;
    left: 45%;
    display: none;
}
.revise-overlay .container{
	padding: 2.5vw 0;
}
.alert-box{
	font-size: 0.4vw;
	color: #C30D23;
	text-align: center;
}
/*退出登录弹窗*/
.quit-overlay{
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.3);
	position: fixed;
	top: 0;
	left: 0;
	display: none;
	z-index: 100;
}
.quit-content{
	width: 28vw;
	margin: 0 auto;
	background-color: #fff;
	margin-top: 13%;
}
.quit-content .con-title{
	width: 100%;
	background-color: #C30D23;
	position: relative;
	padding: 0.5vw 0;
}
.quit-content .con-title span{
	color: #fff;
	font-size: 0.83vw;
	padding-left: 0.4vw;
}
.quit-content .con-title img{
	position: absolute;
	right: 0.4vw;
	width: 0.83vw;
	top: 50%;
	margin-top: -0.4vw;
}
.quit-content .quit-con{
	padding-top: 2vw;
	padding-bottom: 1vw;
}
.quit-content .quit-con p{
	font-size: 1.25vw;
	color: #333;
	text-align: center;
	margin-bottom: 3vw;
}
.quit-content .quit-con button{
	font-size: 0.83vw;
	padding: 0.6vw 2vw;
	border: none;
	background-color: #ccc;
	color: #fff;
	border-radius: 0.5vw;
}
.quit-content .quit-con button:first-child{
	background-color: #C30D23;
	margin-right: 1.6vw;
}
.quit-content .quit-con .quit-jihe{
	width: 14vw;
	margin: 0 auto;
}
/*主要内容*/
.content-wrap aside{
	width: 12.4vw;
	float: left;
	height: 100vh;
}
.content-wrap .aside-ul{
	margin-top: 4vw;
}
.content-wrap main{
	width: 85.6vw;
	float: left;
	border-right: 0.4vw solid #F3F4F7;
	border-left: 0.4vw solid #f3f4f7;
	border-bottom: 0.4vw solid #f3f4f7;
	margin-bottom: 2vh;
	min-height: 100vh;
}
.content-wrap aside .aside-ul ul{
	display: none;
}
.content-wrap aside ul li{
	background-color: #fff;
}
.content-wrap aside ul li span{
	font-size: 0.9vw;
	color: #333;
	display: block;
	padding-left: 1.3vw;
	padding-top: 0.7vw;
	padding-bottom: 0.7vw;
	position: relative;
	cursor: pointer;
}
.content-wrap aside ul li .selected{
	background-color: #faf6f7;
	color: #C30D23;
	font-weight: bold;
}
.content-wrap aside ul li span img  {
	right: 1.3vw;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.content-wrap aside ul li span  img{
	width: 0.4vw;
	display: inline-block;
}
.content-wrap .aside-ul ul li a{
	padding-left: 5vw;
	font-size: 0.83vw;
	color: #666;
}
.content-wrap .aside-ul .li ul .active{
	background-color: #faf6f7;
}
.content-wrap .aside-ul .li ul .active a{
	color: #c30d23;
}
.content-wrap aside ul ul li{
	padding: 0.7vw 0;
}
.content-wrap .aside-ul span.active a{
	color: #C30D23;
}
/*列表分页*/
.content-wrap main .pagination{
	padding: 48px 0;
}
.content-wrap main .pagination li{
	float: left;
	padding: 0.6vw 0.8vw;
    border: 1px solid #e0e0e0;
}
.content-wrap main .pagination li:first-child{
	padding-top: calc(0.6vw - 1px);
}
.content-wrap main .pagination li a{
	font-size: 0.72vw;
	color: #666;
	display: block;
}
.content-wrap main .pagination li select{
	border: none;
	color: #666;
	font-size: 0.72vw;
}
.content-wrap main {
	position: relative;
}
.content-wrap main .pagination ul{
	display: inline-block;
}
.main-title{
	padding: 0.7vw 0;
	padding-left: 1.5vw;
}
.main-title a{
	font-size: 0.93vw;
	color:#C30D23;
	display: inline-block;
	margin-right: 1.5vw;
	padding: 0.5vw 0.7vw;
	border-radius: 18px;
}
.main-title .active{
	background-color: #C30D23;
	color: #fff;
}
